@page "/"
@layout EmptyLayout

<PageTitle>The Broom Web - Come inside...</PageTitle>

<img src="svgs/logo.svg" alt="" class="logo"/>

<h1>The Broom Web</h1>
<a href="/feed" draggable="false">
    <h2>Come inside...</h2>
</a>
<h4>
    A web to upload broom designs,<br/>
    especially made for 1600's witches<br/>
</h4>

<img src="svgs/landing%20castle.svg" alt="" class="castle"/>