@font-face {
    font-family: "Magnific Chaos";
    src: url("../fonts/Magnific Chaos Personal Use.ttf");
}

@font-face {
    font-family: "Soulside Betrayed";
    src: url("../fonts/Soulside Betrayed.otf");
}